*.csv
*.tmp
*.json
/data/*
!/data/matchdata_sample*
/tools
.env
node_modules/
!liquipedia/blocked.json
!package.json
!package-lock.json
deprecated/
!/liquipedia/tools/*
!/liquipedia/tools/json/*
test*