*.csv
*.tmp
*.json
/data/*
!/data/matchdata_sample*
!/data/old_samples/ 
!/data/old_samples/matchdata_sample*
/tools
.env
node_modules/
!liquipedia/blocked.json
!package.json
!package-lock.json
deprecated/
!/liquipedia/tools/*
!/liquipedia/tools/json/*
test*
liquipedia/checkR.js
*.wiki
dota2/
liquipedia/dota.js
liquipedia4/
liquipedia5/
liquipedia/liqFix.js
liquipedia2/
liquipedia7/
liquipedia8/
liquipedia10/
liquipedia11/
liquipedia12/
liquipedia13/